
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>Document</title>
</head>
<body>
<div class="container-form">
		<h3 class="txt_gris_medio">Acceder</h3>
		<hr>
		<div class="login-container">
			{% if form.erros %}
				<div class="alert alert-danger"><p>Tu usuario y contraseña no coinciden. Porfavor intenta otra vez</p></div>
			{% endif %}
		<form id="form-login" method="post" action="">
			{% csrf_token %}
			<div class="w450" id="username">
				{{ form.username }}
			</div>
			<div class="w450" id="password">
				{{form.password }}
			</div>
			<button id="btn-registrar" class="button_large">Entrar</button> <div class="clearfix"></div>
		</form>
		<a href="#" class="txt_verde txt_center mt15 mb20" style="display: block">Aviso de privacidad</a>
	</div>
	</div>
<!--
{% for logins in logins %}
    <section class="cuenta">
        <input class="txt" type="text" name="txtemail" placeholder="Email">
        <input class="txt" type="text" name="txtcontraseña" placeholder="Contraseña">
        <a href="contraseña" class="recuperar">Recuperar Contraseña</a>
        <br><p><input class="enviar" type="submit" value="Ingresar"></p><br>
        <p style="text-align: center">¿No tienes una cuenta? <a href="{% url 'registro' %}">Registrate</a></p>
    </section>
{% endfor %}
-->
</body>
</html>

